<!DOCTYPE html>
<html lang="en">
    {{> head }}
<body class="wrapper">
    {{> header }}
    <main>

        <section>
            <img src="public/images/circleline.png" id="circleline">
            <img src="public/images/circlesolid.png" id="circlesolid">
            <img src="public/images/triangleline.png" id="triangleline">
            <img src="public/images/trianglesolid.png" id="trianglesolid">
        </section>
        
    </main>
</body>
</html>