*, *::after, *::before {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    #settings{
        height: 4em;
        width: 4em;
        padding: 1em;
        opacity: .2;
    }
}

