/* 
  Custom Properties
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colors
$pink-button: #FF62E7;
$green-button: #6BE237;
$white-text: #ffffff;

// fonts
$main-font: "Poppins", sans-serif;