{{>head }}
<section id="homesection">
    <img src="public/images/logo.png">

    <form action="/playgame" id="" method="POST">
            <input id="playbutton" type="submit" value="Play">
    </form>

    <form href="#" id="" method="POST">
            <input id="explbutton" type="submit" value="Explanation">
    </form>


</section>