/* 
  Custom Properties
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header #settings {
  height: 4em;
  width: 4em;
  padding: 1em;
  opacity: 0.2;
}

#homesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#homesection img {
  width: 25em;
  opacity: 1;
  margin-left: 5em;
  margin-top: 5em;
  margin-bottom: 1em;
}
#homesection #playbutton, #homesection #explbutton {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-family: "Poppins", sans-serif;
  width: 10em;
  margin-top: 1em;
  font-size: 1.8em;
  border-radius: 0.4em;
  border: none;
  color: #ffffff;
}
#homesection #playbutton {
  background-color: #6BE237;
}
#homesection #explbutton {
  background-color: #FF62E7;
}

#background {
  position: absolute;
  z-index: -80;
  top: 0em;
  left: 0em;
}
#background #circleline {
  width: 150px;
  height: 150px;
  opacity: 0.1;
  position: relative;
  animation-name: circleline;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes circleline {
  0% {
    left: 53px;
    top: 6px;
  }
  12% {
    left: 67px;
    top: 9px;
  }
  25% {
    left: 86px;
    top: 12px;
  }
  50% {
    left: 117px;
    top: 24px;
  }
  75% {
    left: 86px;
    top: 36px;
  }
  100% {
    left: 53px;
    top: 6px;
  }
}
#background #circlesolid {
  width: 150px;
  height: 150px;
  opacity: 0.1;
  position: relative;
  animation-name: circlesolid;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes circlesolid {
  0% {
    right: 0px;
    bottom: 6px;
  }
  12% {
    right: 5px;
    bottom: 9px;
  }
  25% {
    right: 10px;
    bottom: 12px;
  }
  50% {
    right: 20px;
    bottom: 24px;
  }
  75% {
    right: 10px;
    bottom: 36px;
  }
  100% {
    right: 0px;
    bottom: 6px;
  }
}
#background #triangleline {
  width: 150px;
  height: 150px;
  opacity: 0.1;
  position: relative;
  animation-name: triangleline;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes triangleline {
  0% {
    left: 23px;
    top: 126px;
  }
  12% {
    left: 37px;
    top: 129px;
  }
  25% {
    left: 56px;
    top: 132px;
  }
  50% {
    left: 87px;
    top: 144px;
  }
  75% {
    left: 56px;
    top: 156px;
  }
  100% {
    left: 23px;
    top: 126px;
  }
}
#background #trianglesolid {
  width: 150px;
  height: 150px;
  opacity: 0.1;
  position: relative;
  animation-name: trianglesolid;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: rotate(60deg);
}
@keyframes trianglesolid {
  0% {
    left: 103px;
    top: 26px;
  }
  12% {
    left: 117px;
    top: 29px;
  }
  25% {
    left: 136px;
    top: 32px;
  }
  50% {
    left: 167px;
    top: 44px;
  }
  75% {
    left: 136px;
    top: 56px;
  }
  100% {
    left: 103px;
    top: 26px;
  }
}
#background #squaresolid {
  width: 150px;
  height: 150px;
  opacity: 0.1;
  position: relative;
  animation-name: squaresolid;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: rotate(60deg);
}
@keyframes squaresolid {
  0% {
    left: 23px;
    top: 226px;
  }
  12% {
    left: 17px;
    top: 229px;
  }
  25% {
    left: 16px;
    top: 232px;
  }
  50% {
    left: 27px;
    top: 244px;
  }
  75% {
    left: 16px;
    top: 256px;
  }
  100% {
    left: 23px;
    top: 226px;
  }
}
#background #squareline {
  width: 150px;
  height: 150px;
  opacity: 0.1;
  position: relative;
  animation-name: squareline;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: rotate(60deg);
}
@keyframes squareline {
  0% {
    right: -13px;
    top: 426px;
  }
  12% {
    right: -7px;
    top: 429px;
  }
  25% {
    right: 6px;
    top: 432px;
  }
  50% {
    right: 27px;
    top: 444px;
  }
  75% {
    right: 16px;
    top: 456px;
  }
  100% {
    right: -13px;
    top: 426px;
  }
}

@keyframes bgcolor {
  0% {
    background-color: #45a3e5;
  }
  30% {
    background-color: #66bf39;
  }
  60% {
    background-color: #eb670f;
  }
  90% {
    background-color: #f35;
  }
  100% {
    background-color: #864cbf;
  }
}
body {
  -webkit-animation: bgcolor 40s infinite;
  animation: bgcolor 20s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/*# sourceMappingURL=main.css.map */
